<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">

	<context:component-scan base-package="com.jersey" />
	
	<aop:aspectj-autoproxy/>
	
	<mvc:annotation-driven conversion-service="formattingConversionServiceFactoryBean"/>
	<mvc:default-servlet-handler/>
	<mvc:view-controller path="/welcomeSecretLogin" view-name="login"/>
	
	<mvc:interceptors>
		<mvc:interceptor>
			<!-- 攔截非admin用戶 -->
			<mvc:mapping path="/**"/>
			<mvc:exclude-mapping path="/welcomeSecretLogin"/>
			<mvc:exclude-mapping path="/secretLogin"/>
			<mvc:exclude-mapping path="/index.html"/>
			<mvc:exclude-mapping path="/commodity/*/getAll"/>
			<mvc:exclude-mapping path="/lib/**"/>
			<mvc:exclude-mapping path="/pic/**"/>
			<!-- 取得圖片相關的檢查在pictureController裡面做 -->
			<mvc:exclude-mapping path="/picture/*/getOne/*"/>
			<mvc:exclude-mapping path="/picture/*/getAll"/>
			<mvc:exclude-mapping path="/picture/*/download"/>
			<mvc:exclude-mapping path="/picture/*/downloadAll"/>
			<bean class="com.jersey.interceptor.AuthorityInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
	
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close"> 
        <property name="driverClass" value="org.mariadb.jdbc.Driver" />
     	<property name="jdbcUrl" value="jdbc:mariadb://localhost:3307/jersey" />
     	<property name="user" value="root" />
     	<property name="password" value="qwerty" />
        <property name="maxPoolSize" value="50" />
     	<property name="minPoolSize" value="10" />
     	<property name="maxStatements" value="100" />
     	<property name="idleConnectionTestPeriod" value="300" />
    </bean>

	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean" destroy-method="destroy">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="mappingResources">
			<list>
				<value>com/jersey/commodity/model/CommodityVO.hbm.xml</value>
				<value>com/jersey/purchaseCase/model/PurchaseCaseVO.hbm.xml</value>
				<value>com/jersey/sellCase/model/SellCaseVO.hbm.xml</value>
				<value>com/jersey/store/model/StoreVO.hbm.xml</value>
				<value>com/jersey/picture/model/PictureVO.hbm.xml</value>
				<value>com/jersey/userConfig/model/UserConfigVO.hbm.xml</value>
				<value>com/jersey/userConfig/model/CommodityAttrVO.hbm.xml</value>
				<value>com/jersey/commodity/model/CommodityAttrMappingVO.hbm.xml</value>
				<value>com/jersey/userConfig/model/CommodityTypeVO.hbm.xml</value>
				<value>com/jersey/systemParam/model/SystemParamVO.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
				<!--是否要顯示實際操作資料庫時的SQL -->
				<prop key="hibernate.show_sql">true</prop>
				<!-- Disable the second-level cache -->
				<prop key="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</prop>
				<!--交易管理類型, 以下使用JDBC Transaction -->
				<prop key="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</prop>
				<!-- Enable Hibernate's automatic session context management -->
				<prop key="hibernate.current_session_context_class">thread</prop>
				<!-- batch size -->
				<prop key="hibernate.jdbc.batch_size">30</prop>
			</props>
		</property>
	</bean>
	
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager"> 
        <property name="sessionFactory"> 
            <ref bean="sessionFactory"/> 
        </property>
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager"/>

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/pages/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>
	
	<bean id="formattingConversionServiceFactoryBean" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="converters">
			<set>
				<ref bean="storeConverter" />
			</set>
		</property>
	</bean>
	
	<bean id="storeConverter" class="com.jersey.converter.StoreConverter" />
	

</beans>
