<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	<display-name>jersey</display-name>
	<welcome-file-list>
		<welcome-file>/WEB-INF/pages/index.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/pages/error.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/WEB-INF/pages/error.jsp</location>
	</error-page>
	<context-param>
		<param-name>user</param-name>
		<param-value>jersey</param-value>
	</context-param>
	<context-param>
		<param-name>password</param-name>
		<param-value>white</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring.xml</param-value>
	</context-param>

	<!-- 要有這個才能用WebApplicationContextUtils取得 WebApplicationContext -->
	<listener>
    	<listener-class>
      		org.springframework.web.context.ContextLoaderListener
    	</listener-class>
	</listener>
	<listener>
		<listener-class>com.jersey.tools.jerseyContextListener</listener-class>
	</listener>

	<filter>
		<filter-name>HiddenHttpMethodFilter</filter-name>
		<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>HiddenHttpMethodFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<display-name>JerseyFilter</display-name>
		<filter-name>JerseyFilter</filter-name>
		<filter-class>com.jersey.tools.JerseyFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>JerseyFilter</filter-name>
		<url-pattern>/*</url-pattern>
<!-- 		<url-pattern>/commodity</url-pattern> -->
<!-- 		<url-pattern>/purchaseCase</url-pattern> -->
<!-- 		<url-pattern>/sellCase</url-pattern> -->
<!-- 		<url-pattern>/store</url-pattern> -->
<!-- 		<url-pattern>/PictureServlet</url-pattern> -->
<!-- 		<url-pattern>/AccountingServlet</url-pattern> -->
<!-- 		<url-pattern>/TripleServlet</url-pattern> -->
	</filter-mapping>

	<servlet>
		<servlet-name>dispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcherServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>