<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	<display-name>jersey</display-name>
	<welcome-file-list>
		<welcome-file>MemberServlet</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/pages/error.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/WEB-INF/pages/error.jsp</location>
	</error-page>
	<context-param>
		<param-name>user</param-name>
		<param-value>jersey</param-value>
	</context-param>
	<context-param>
		<param-name>password</param-name>
		<param-value>white</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring.xml</param-value>
	</context-param>

	<!-- 要有這個才能用WebApplicationContextUtils取得 WebApplicationContext -->
	<listener>
    	<listener-class>
      		org.springframework.web.context.ContextLoaderListener
    	</listener-class>
	</listener>
	<listener>
		<listener-class>com.jersey.tools.jerseyContextListener</listener-class>
	</listener>
	
	<filter>
		<filter-name>HiddenHttpMethodFilter</filter-name>
		<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>HiddenHttpMethodFilter</filter-name>
		<servlet-name>springmvc</servlet-name>
	</filter-mapping>
	<!--   <filter> -->
<!--     <display-name>JerseyFilter</display-name> -->
<!--     <filter-name>JerseyFilter</filter-name> -->
<!--     <filter-class>tools.JerseyFilter</filter-class> -->
<!--     <init-param> -->
<!--       <param-name>encoding</param-name> -->
<!--       <param-value>UTF-8</param-value> -->
<!--     </init-param> -->
<!--   </filter> -->
<!--   <filter-mapping> -->
<!--     <filter-name>JerseyFilter</filter-name> -->
<!--     <url-pattern>/CommodityServlet</url-pattern> -->
<!--     <url-pattern>/PurchaseCaseServlet</url-pattern> -->
<!--     <url-pattern>/SellCaseServlet</url-pattern> -->
<!--     <url-pattern>/StoreServlet</url-pattern> -->
<!--     <url-pattern>/PictureServlet</url-pattern> -->
<!--     <url-pattern>/AccountingServlet</url-pattern> -->
<!--     <url-pattern>/TripleServlet</url-pattern> -->
<!--   </filter-mapping> -->

	<servlet>
		<servlet-name>dispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcherServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SellCaseServlet</display-name>
		<servlet-name>SellCaseServlet</servlet-name>
		<servlet-class>com.jersey.sellCase.controller.SellCaseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SellCaseServlet</servlet-name>
		<url-pattern>/SellCaseServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CommodityServlet</display-name>
		<servlet-name>CommodityServlet</servlet-name>
		<servlet-class>com.jersey.commodity.controller.CommodityServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommodityServlet</servlet-name>
		<url-pattern>/CommodityServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PurchaseCaseServlet</display-name>
		<servlet-name>PurchaseCaseServlet</servlet-name>
		<servlet-class>com.jersey.purchaseCase.controller.PurchaseCaseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PurchaseCaseServlet</servlet-name>
		<url-pattern>/PurchaseCaseServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>StoreServlet</display-name>
		<servlet-name>StoreServlet</servlet-name>
		<servlet-class>com.jersey.store.controller.StoreServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StoreServlet</servlet-name>
		<url-pattern>/StoreServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PictureServlet</display-name>
		<servlet-name>PictureServlet</servlet-name>
		<servlet-class>com.jersey.picture.controller.PictureServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PictureServlet</servlet-name>
		<url-pattern>/PictureServlet</url-pattern>
	</servlet-mapping>
	<resource-ref>
		<res-ref-name>jdbc/jersey</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<servlet>
		<description></description>
		<display-name>AccountingServlet</display-name>
		<servlet-name>AccountingServlet</servlet-name>
		<servlet-class>com.jersey.accounting.controller.AccountingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccountingServlet</servlet-name>
		<url-pattern>/AccountingServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>TripleServlet</display-name>
		<servlet-name>TripleServlet</servlet-name>
		<servlet-class>com.jersey.triple.controller.TripleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TripleServlet</servlet-name>
		<url-pattern>/TripleServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MemberServlet</display-name>
		<servlet-name>MemberServlet</servlet-name>
		<servlet-class>com.jersey.member.controller.MemberServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberServlet</servlet-name>
		<url-pattern>/MemberServlet</url-pattern>
	</servlet-mapping>

</web-app>